@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Readex+Pro:wght@200;300;400;500&display=swap");

:root {
  --color-brand--1: #490b3d;
  --color-brand--2: #f1b814;
  --color-bg: #f9f9f9;

  --color-dark--0: #000000;
  --color-dark--1: #212529;
  --color-dark--2: #6c747d;

  --color-white: #fff;

  --font-size--0: 1rem;
  --font-size--1: 1.125rem;
  --font-size--2: 1.25rem;
  --font-size--3: 1.375rem;
  --font-size--4: 1.625rem;
  --font-size--5: 1.875rem;

  --border-radius: 10px;
  --shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);

  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-brand--1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 100%;
  border-radius: var(--border-radius);
  font-size: var(--font-size--1);
  color: var(--color-brand-1);
  font: inherit;
  padding: 1rem;
}

section {
  display: flex;
  padding: 3.75rem 0rem 7rem 0rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
